name: Flutter CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  analyze_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.5'
          channel: 'stable'

      - name: Flutter version
        run: flutter --version

      - name: Pub get
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Build debug APK
        run: flutter build apk --debug
